doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top.shadow-sm
      .container-fluid
        a.navbar-brand(href='/') Quotist
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Home
            li.nav-item
              if user
                a.nav-link(href='/logout') Logout
              else
                a.nav-link(href='/login') Login
    
    main.flex-shrink-0
      .container
        block content

footer.footer.mt-auto.py-3.bg-body-tertiary
  .container.text-center
    .row
      .col-12
        small.text-muted Quotist by 
          a.text-decoration-none(href='https://github.com/kytice/Quotist') kytice
          |  | Book descriptions, ratings and quotes from 
          a.text-decoration-none(href='https://www.goodreads.com') Goodreads


script(src='/javascripts/bootstrap.min.js') 
block scripts